<p style="color: green"><%= notice %></p>

<%= render @restaurant %>
<% @restaurant.reviews.each do |review| %>
  <div class="d-flex">
    <%= review.content %>
    <%= review.rating %>
  </div>
<% end %>
<%= render 'reviews/form', review: @review %>

<div>
  <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary" %>
  <%= link_to "Review this restaurant", restaurant_path(@restaurant), class: "btn btn-primary" %>
</div>
